body {
    margin: 0;
    background-image: url(topography.png)
}

.header {
    background-color: grey;
}

h1 {    
    padding: 1.5% 0 1.5% 10%;
    margin: 0;

}
.test {
    padding-left: 10%;
    padding-right: 10%;
    
}


h3 {
    margin-bottom: 1%;
}

.add {
    font-size: 14x;
    font-family: 'Courier New', Courier, monospace;
}


.inputTitle {
    width: 30%;
    line-height: 1.3em;
}

.inputSubmit {
    width: 10%;
    margin: 10px 0px;
}

.inputContent, .inputText {
    width: 100%;
    margin-bottom: 10px;
    line-height: 2em;
    resize: none;
}